<?xml version="1.0"?>
<launch>

  <arg name="name1" default="uav1" />
  <arg name="name2" default="uav2" />
  <arg name="name3" default="uav3" />

  <!-- Drone 1 -->
  <group>
    <include file="$(find flightgoggles)/launch/core.launch">
      <arg name="uavName" value="$(arg name1)" />
      <arg name="clock_control" value="true" />
    </include>

    <include file="$(find flightcontroller)/launch/angle.launch">
      <arg name="uavName" value="$(arg name1)" />
    </include>

    <include file="$(find flightcontroller)/launch/velocity.launch">
      <arg name="uavName" value="$(arg name1)" />
    </include>

    <!-- <include file="$(find flightcontroller)/launch/position.launch">
      <arg name="uavName" value="$(arg name1)" />
    </include> -->

    <include file="$(find sensor_simulation)/launch/sensors.launch">
      <arg name="uavName" value="$(arg name1)" />
    </include>

    <arg name="uavName" default="uav1" />

    <node pkg="mission_waypoints" type="swarm_loc.py" name="swarm_gps_node_$(arg uavName)" >
      <param name="uavName" type="string" value="$(arg uavName)"/>
    </node>

    <arg name="influence_radius" default="5" />
    <node pkg="mission_waypoints" type="sphere.py" name="sphere_of_influence_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="influence_radius" type="double" value="$(arg influence_radius)" />
    </node>

    <arg name="collision_radius" default="0.1" />
    <node pkg="mission_waypoints" type="collision_detector.py" name="collision_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="collision_radius" type="double" value="$(arg collision_radius)" />
    </node>

    <arg name="pos_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_cohesion.py" name="cohesion_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="pos_v_w" type="double" value="$(arg pos_v_w)"/>
    </node>

    <arg name="align_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_alignment.py" name="alignment_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="align_v_w" type="double" value="$(arg align_v_w)"/>
    </node>

    <arg name="sep_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_separation.py" name="separation_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="sep_v_w" type="double" value="$(arg sep_v_w)"/>
    </node>

    <node pkg="mission_waypoints" type="reachable_set.py" name="reachable_set_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
    </node>

  </group>


  <!-- Drone 2 -->
  <group>
    <include file="$(find flightgoggles)/launch/core.launch">
      <arg name="uavName" value="$(arg name2)" />
      <arg name="clock_control" value="false" />
    </include>

    <include file="$(find flightcontroller)/launch/angle.launch">
      <arg name="uavName" value="$(arg name2)" />
    </include>

    <include file="$(find flightcontroller)/launch/velocity.launch">
      <arg name="uavName" value="$(arg name2)" />
    </include>

    <!-- <include file="$(find flightcontroller)/launch/position.launch">
      <arg name="uavName" value="$(arg name2)" />
    </include> -->

    <include file="$(find sensor_simulation)/launch/sensors.launch">
      <arg name="uavName" value="$(arg name2)" />
    </include>

    <arg name="uavName" default="uav2" />

    <node pkg="mission_waypoints" type="swarm_loc.py" name="swarm_gps_node_$(arg uavName)">
      <param name="uavName" type="string" value="$(arg uavName)"/>
    </node>

    <arg name="influence_radius" default="5" />
    <node pkg="mission_waypoints" type="sphere.py" name="sphere_of_influence_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="influence_radius" type="double" value="$(arg influence_radius)" />
    </node>

    <arg name="collision_radius" default="0.1" />
    <node pkg="mission_waypoints" type="collision_detector.py" name="collision_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="collision_radius" type="double" value="$(arg collision_radius)" />
    </node>

    <arg name="pos_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_cohesion.py" name="cohesion_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="pos_v_w" type="double" value="$(arg pos_v_w)"/>
    </node>

    <arg name="align_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_alignment.py" name="alignment_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="align_v_w" type="double" value="$(arg align_v_w)"/>
    </node>

    <arg name="sep_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_separation.py" name="separation_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="sep_v_w" type="double" value="$(arg sep_v_w)"/>
    </node>

    <node pkg="mission_waypoints" type="reachable_set.py" name="reachable_set_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
    </node>

  </group>


  <!-- Drone 3 -->
  <group>
    <include file="$(find flightgoggles)/launch/core.launch">
      <arg name="uavName" value="$(arg name3)" />
      <arg name="clock_control" value="false" />
    </include>

    <include file="$(find flightcontroller)/launch/angle.launch">
      <arg name="uavName" value="$(arg name3)" />
    </include>

    <include file="$(find flightcontroller)/launch/velocity.launch">
      <arg name="uavName" value="$(arg name3)" />
    </include>

    <!-- <include file="$(find flightcontroller)/launch/position.launch">
      <arg name="uavName" value="$(arg name3)" />
    </include> -->

    <include file="$(find sensor_simulation)/launch/sensors.launch">
      <arg name="uavName" value="$(arg name3)" />
    </include>

    <arg name="uavName" default="uav3" />
    <node pkg="mission_waypoints" type="swarm_loc.py" name="swarm_gps_node_$(arg uavName)">
      <param name="uavName" type="string" value="$(arg uavName)"/>
    </node>

    <arg name="influence_radius" default="5" />
    <node pkg="mission_waypoints" type="sphere.py" name="sphere_of_influence_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="influence_radius" type="double" value="$(arg influence_radius)" />
    </node>

    <arg name="collision_radius" default="0.1" />
    <node pkg="mission_waypoints" type="collision_detector.py" name="collision_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="collision_radius" type="double" value="$(arg collision_radius)" />
    </node>

    <arg name="pos_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_cohesion.py" name="cohesion_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="pos_v_w" type="double" value="$(arg pos_v_w)"/>
    </node>

    <arg name="align_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_alignment.py" name="alignment_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="align_v_w" type="double" value="$(arg align_v_w)"/>
    </node>

    <arg name="sep_v_w" default="0.5" />
    <node pkg="mission_waypoints" type="swarm_separation.py" name="separation_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
      <param name="sep_v_w" type="double" value="$(arg sep_v_w)"/>
    </node>

    <node pkg="mission_waypoints" type="reachable_set.py" name="reachable_set_node_$(arg uavName)" output="screen">
      <param name="uavName" type="string" value="$(arg uavName)" />
    </node>

  </group>

  <!--Static transform for ENU to NED world-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_ned_link" args="0 0 0 1.57079632679 3.14159265359 0 'world' 'world/ned'"/>

  <include file="$(find visualizer)/launch/view.launch">
    <arg name="uavName1" value="$(arg name1)" />
    <arg name="uavName2" value="$(arg name2)" />
    <arg name="uavName3" value="$(arg name3)" />
  </include>

  <arg name="acceptance_range" default="0.1"/>
  <arg name="file" default="mission_waypoints.txt"/>
  <node pkg="mission_waypoints" type="waypoint_publisher.py" name="waypoint_reader_node" output="screen">
    <param name="acceptance_range" type="double" value="$(arg acceptance_range)"/>
    <param name="file" type="String" value="$(arg file)"/>
  </node>

  <arg name="goal_v_w" default="0.5"/>
  <node pkg="mission_waypoints" type="vel_controller.py" name="velocity_pub_node" output="screen">
    <param name="goal_v_w" type="double" value="$(arg goal_v_w)"/>
  </node>

  <node pkg="mission_waypoints" type="boids.py" name="boids_node" output="screen"></node>

</launch>