<launch>

  <node pkg="mission_waypoints" type="real_uav_vel.py" name="real_uav_vel_node" output="screen"> </node>

  <include file="src/Freyja/freyja_controller.launch" >
    <arg name="vicon_topic" value="/vicon/JOZI/JOZI"/>
    <arg name="thrust_scaler" value="200"/>
    <arg name="total_mass" value="1.9"/>
  </include>

</launch>