<?xml version="1.0"?>
<launch>

  <!-- VICON Drone Name -->
  <arg name="droneName" default="uav" />

  <node pkg="mission_waypoints" type="real_uav.py" name="real_uav_node_$(arg droneName)" output="screen">
    <param name="uavName" type="string" value="$(arg droneName)" />
  </node>

  <include file="src/Freyja/freyja_controller.launch" >
  
    <arg name="vicon_topic"
    value="/vicon/$(arg droneName)/$(arg droneName)"/>

    <arg name="thrust_scaler" value="200"/>
    <arg name="total_mass" value="1.9"/>
  </include>

</launch>